 .headerLeftBar{
  display: flex;
  flex-direction: row;
  color: var(--text-color);
}

.headerLeftBar >div:first-of-type{
  margin-right: 10px;
  padding-right: 10px;
  border-right:  1px solid black;
}